<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <link type="image/x-icon" href="/images/logo.png" rel="shortcut icon">
    <title>Главная</title>
</head>
<body>
    <header>
        <div class="w-1270 in-center container d-flex jc-sb">
            <div class="logo">
                <a href="index.html"><img src="/images/logo.png" alt=""></a>
            </div>
            <nav>
                <a href="index.html">Главная</a>
                <a href="intensivi.html">Интенсивы</a>
                <a href="plans.html">Планы</a>
            </nav>
            <div class="hamburger-menu ">
                <input id="menu-toggle" type="checkbox" />
                <label class="menu-btn" for="menu-toggle">
                    <span></span>
                </label>
                <ul class="menu-box">
                    <li><a class="menu-item" href="index.html">Главная</a></li>
                    <li><a class="menu-item" href="intensivi.html">Интенсивы</a></li>
                    <li><a class="menu-item" href="plans.html">Планы</a></li>
                </ul>
            </div>

            <div class="d-flex jc-sb auth-lk">
                <a href="auto.html"><input type="button" value="Вход"></a>
                <a href="registr.html"><input type="button" value="Регистрация"></a>
            </div>
            <div class="d-flex jc-sb lk">
                <a href="index.html"><input type="button" value="Личный кабинет"></a>
            </div>

            




            
        </div>
    </header>
    
    <section class="d-flex jc-sb w-100 container f-w-wrap">
        <div class="w-80">
            <h2 class="mt-180">Если вам нужно сделать </h2>
            <h3>шаг навстречу мечтам!</h3>
            <p class="mt-40">Intensive Finder - поиск наикрутейших интенсивов.</p>
            <p class="mb-120">ЕСЛИ хотите прокачать свой скилл, присоединяйтесь</p>
        </div>
        <div class="w-20 jc-c">
            <img src="/images/IMG_8782.png" alt="Крош" width="300" class="krosh">
        </div>
    </section>


    <div class="hr"></div>
    <section>
        <div class="w-1270 in-center container">
            <h3>О нашей деятельности</h3>
            <p class="mt-40">Хотите развиваться, но не знаете с чего начать? Приходите и получите реальный опыт, которым мы готовы поделиться вне зависимости от Ваших профессиональных навыков.
                Ждем начинающих специалистов, которым интересно получить знания по следующим направлениям: бэкэнд- или фронтэнд-разработка, машинное обучение, мобильная разработка, функциональное тестирование.
            </p>
        </div>
    </section>
    <div class="hr"></div>
    <section>
        <div class="w-1270 in-center container">
            <h2 style="text-align: center;">Направления обучения</h2>
            <div class="list-napr mt-40">
                <h3>Разработка приложений</h3>
                <p>Имеете опыт работы с одной из промышленных систем управления базами данных: Microsoft SQL Server, PostgrеSQL, Oracle и т.п.; не менее 3 лет программируете на С#,T-SQL, JavaScript, HTML, технологии ASP.NET, NET. Framework, AJAX (владеете одним или сразу несколькими вышеуказанными языками программирования); имеете знания среды разработки Microsoft Visual Studio 2005.</p>            
            </div>
            <div class="list-napr mt-40">
            <h3>Бизнес-анализ</h3>
                <p>Имеете опыт работы с одной из промышленных систем управления базами данных: Microsoft SQL Server, PostgrеSQL, Oracle и т.п.; не менее 3 лет программируете на С#,T-SQL, JavaScript, HTML, технологии ASP.NET, NET. Framework, AJAX (владеете одним или сразу несколькими вышеуказанными языками программирования); имеете знания среды разработки Microsoft Visual Studio 2005.</p>
            </div>
            <div class="list-napr mt-40">
                <h3>Информационная безопасность</h3>
                <p>Имеете опыт работы с одной из промышленных систем управления базами данных: Microsoft SQL Server, PostgrеSQL, Oracle и т.п.;</p>
            </div>
        </div>
    </section>
    <div class="hr"></div>

   
    <section>
        <div class="w-1270 in-center container ">
            <h1>Интенсивы</h1>
            <div class="d-flex f-w-wrap jc-sa">

                <a href="info-intensiv.html" class="intensiv-block">
                    <img src="/images/img.png" alt="">
                    <p class="date">дата и время</p>
                    <h5>Заг1</h5>
                    <p class="descript">Description</p>
                </a>
                

            </div>
        </div>
    </section>

    <div class="hr"></div>    
    
    <footer>
        <h4>Контакты</h4>
        <div class="in-center container f-w-wrap d-flex jc-sb jc-c">
            <div class="w-50">
                
                <iframe class="d-flex in-center mt-40" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2223.352772769089!2d47.1600731!3d56.133711999999996!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x415a387aeaf5b781%3A0x5433448da79960b3!2z0KPQvdC40LLQtdGA0YHQuNGC0LXRgtGB0LrQsNGPINGD0LsuLCAzOCwg0KfQtdCx0L7QutGB0LDRgNGLLCDQp9GD0LLQsNGI0YHQutCw0Y8g0KDQtdGB0L8uLCA0MjgwMzQ!5e0!3m2!1sru!2sru!4v1680287752994!5m2!1sru!2sru" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                <div class="contacts-cont">
                    <div class="contacts">VK</div>
                    <div class="contacts">FB</div>
                    <div class="contacts">TG</div>
                </div>
            </div>
            <div class="w-50">
                <p>Телефон: <a href="tel:+79003330909">+7 (900) 333-09-09</a></p><br>
                <p>Техническая поддержка: <a href="mailto:support@gmail.com">support@gmail.com</a></p><br>
                <p>Адрес организации:
                <a href="https://www.google.com/maps/place/%D0%A3%D0%BD%D0%B8%D0%B2%D0%B5%D1%80%D1%81%D0%B8%D1%82%D0%B5%D1%82%D1%81%D0%BA%D0%B0%D1%8F+%D1%83%D0%BB.,+38,+%D0%A7%D0%B5%D0%B1%D0%BE%D0%BA%D1%81%D0%B0%D1%80%D1%8B,+%D0%A7%D1%83%D0%B2%D0%B0%D1%88%D1%81%D0%BA%D0%B0%D1%8F+%D0%A0%D0%B5%D1%81%D0%BF.,+428034/@56.133712,47.1600731,17z/data=!4m6!3m5!1s0x415a387aeaf5b781:0x5433448da79960b3!8m2!3d56.133712!4d47.1600731!16s%2Fg%2F11fnvzcbsm"><address>Университетская ул., 38, Чебоксары, Чувашская Респ., 428034</address></a></p><br>
                <p class="mb-120">© 2023 Dark Army</p>
            </div>
        </div>
    </footer>
</body>
</html>