<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <link type="image/x-icon" href="/images/logo.png" rel="shortcut icon">
    <title>Главная</title>
</head>
<body>
    <header>
        <div class="w-1270 in-center container d-flex jc-sb">
            <div class="logo">
                <a href="index.html"><img src="/images/logo.png" alt=""></a>
            </div>
            <nav>
                <a href="index.html">Главная</a>
                <a href="intensivi.html">Интенсивы</a>
                <a href="plans.html">Планы</a>
            </nav>
            <div class="hamburger-menu ">
                <input id="menu-toggle" type="checkbox" />
                <label class="menu-btn" for="menu-toggle">
                    <span></span>
                </label>
                <ul class="menu-box">
                    <li><a class="menu-item" href="index.html">Главная</a></li>
                    <li><a class="menu-item" href="intensivi.html">Интенсивы</a></li>
                    <li><a class="menu-item" href="plans.html">Планы</a></li>
                </ul>
            </div>

            <div class="d-flex jc-sb auth-lk">
                <a href="auto.html"><input type="button" value="Вход"></a>
                <a href="registr.html"><input type="button" value="Регистрация"></a>
            </div>
            <div class="d-flex jc-sb lk">
                <a href="index.html"><input type="button" value="Личный кабинет"></a>
            </div>
        </div>
    </header>
    <section>
        <div class="w-1270 in-center">
            <h2 style="text-align: center;">Фильтр</h2>
            <form action="">
                <div>
                    <label for="name">Название интенсива</label><br>
                    <input type="text" name="name">
                </div>
                <div>
                    <label>Название тематики</label><br>
                    <input type="checkbox" name="1"><label>Бизнес-анализ</label><br>
                    <input type="checkbox" name="2"><label>Программирование</label><br>
                    <input type="checkbox" name="3"><label>Информационная безопасность</label><br>
                    <input type="checkbox" name="4"><label>Тестирование</label><br>
                    <input type="checkbox" name="5"><label>Web-design</label><br>
                </div>
                <div class="mt-40"> 
                    <label for="lector" >Лектор</label><br>
                    <select name="lector">
                        <option value="1">Александров Виталя</option>
                        <option value="2">Ефимов Александр</option>
                        <option value="3">Казанцев Николай</option>
                        <option value="4">Родионова Виктория</option>
                    </select>
                </div>
                
                <input type="submit" value="Найти">
            </form>
        </div>
    </section>
    <section>
        <div class="w-1270 in-center container">
            <h1>Интенсивы</h1>
            <div class="d-flex f-w-wrap jc-sa">

                <a href="info-intensiv.html" class="intensiv-block">
                    <img src="/images/img.png" alt="">
                    <p class="date">дата и время</p>
                    <h5>Заг1</h5>
                    <p class="descript">Description</p>
                </a>
                

            </div>
        </div>
    </section>
    <footer>
        <div class="w-1270 in-center container">

        </div>
    </footer>
</body>
</html>