<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/main.css">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Регистрация</title>
</head>
<body>
    <header>
        <div class="w-1270 in-center container d-flex jc-sb">
            <div class="logo">
                <a href="index.html"><img src="/images/logo.png" alt=""></a>
            </div>
            <nav>
                <a href="index.html">Главная</a>
                <a href="">Интенсивы</a>
                <a href="">Планы</a>
            </nav>
            <div class="hamburger-menu ">
                <input id="menu-toggle" type="checkbox" />
                <label class="menu-btn" for="menu-toggle">
                    <span></span>
                </label>
                <ul class="menu-box">
                    <li><a class="menu-item" href="index.html">Главная</a></li>
                    <li><a class="menu-item" href="">Интенсивы</a></li>
                    <li><a class="menu-item" href="">Планы</a></li>
                </ul>
            </div>

            <div class="d-flex jc-sb auth-lk">
                <a href="index.html"><input type="button" value="Вход"></a>
                <a href="registr.html"><input type="button" value="Регистрация"></a>
            </div>
            <div class="d-flex jc-sb lk">
                <a href="index.html"><input type="button" value="Личный кабинет"></a>
            </div>

            




            
        </div>
    </header>
    <section>
        <div class="w-1270 in-center">
            <form action="">
                <div>
                    <label for="">Фамилия</label><br>
                    <input type="text">
                </div>
                <div>
                    <label for="">Имя</label><br>
                    <input type="text">
                </div>
                <div>
                    <label for="">Отчество</label><br>
                    <input type="text">
                </div>
                <div>
                    <label for="">Ваш E-mail</label><br>
                    <input type="email">
                </div>
                <div>
                    <label for="">Придумайте пароль</label><br>
                    <input type="password">
                </div>
                <div>
                    <label for="">Повторите пароль</label><br>
                    <input type="password">
                </div>
                <div>
                    <input type="checkbox"><label for="">Я соглашаюсь с обработкой данных</label>
                </div>
                <input type="submit" value="Зарегистрироваться">
            </form>
        </div>
    </section>
</body>
</html>